<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.min.css">
</head>
<body>
<div class="header">
    <a class="header-left" href="/">
        <h1>Headeur</h1>
    </a>
</div>
<hr>
<div class="main">
    <h1>401 Bad Request, stop fucking with the forms!</h1>
    <p>Ik weet dat jij dit bent Thomas, en hier is mijn <a href="/ik-ben-een-flapdrol-die-met-forms-fuckt">wraak</a></p>
    {{#if 422}}<p>Voetnoot: je had eigenlijk een 421, maar potaaaato potaaaaahto</p>{{/if}}
</body>
</html>
