<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="header">
    <a class="header-left" href="/">
        <h1>Headur</h1>
    </a>
    <div style="float: right; padding-top: 30px;">
        <a href="/logout">Logout</a>
    </div>
</div>
<hr>
<div class="main">
    <h1>Forbidden</h1>
    <p>Admin rechten verkrijgen.... &lt;FAILURE&gt; klaarblijkelijk mag je niks HAHAHA zoek zelf een site</p>  
</div>
</body>
</html>
