<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.min.css">
</head>
<body>
<div class="header">
    <a class="header-left" href="/">
        <h1>Headeur</h1>
    </a>
</div>
<hr>
<div class="main">
    <h1>404 Not Found</h1>
    <p>Hoi! Deze pagina bestaat niet! Waar kijk ik nu dan naar zul je je afvragen... Nou dit is een handler die dit soort dingen afvangt. Ik heb bij mezelf overwogen wat meer werk zou zijn: letterlijk elke pagina zinnige content geven of 1 zo'n handler schrijven. Ik koos voor dittem. Kijk het werkt:</p>
    <ul>
        <li><a href="/asdfasdfasdf">Dit gaat nergens heen</a></li>
        <li><a href="/pannekoek">Dit gaat nergens heen</a></li>
        <li><a href="/epische-megazorvens">Dit gaat nergens heen</a></li>
        <li><a href="/404">Dit gaat nergens heen</a></li>
        <li><a href="/spoiler-alert!-ook-niks">Dit gaat nergens heen</a></li>
    </ul>
</div>
</body>
</html>
