<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.min.css">
    <link rel="stylesheet" href="/static/admin-style.css"> <!-- more important -->
</head>
<body>
<div class="header">
    <a class="header-left" href="/">
        <h1>Headur</h1>
    </a>
    <div style="float: right; padding-top: 30px;">
        <a href="/log">Log</a>
        <a href="/logout">Logout</a>
    </div>
</div>
<hr>
<div class="main">
    <h2>New User</h2>
    <div class="add-user">
        <form action="/admin/adduser" method="post">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password">
            Admin?<input name="is_admin" type="checkbox">
            <input type="submit" value="create">
        </form>
    </div>
    
    <h2>User list</h2>
    {{#each users}}
    <div class="user-list">
        <form action="/admin/edituser" method="post" class="update-form">
            <p>{{this.id}}</p>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="text" name="username" value="{{this.username}}" class="username">
            <input type="text" name="password" placeholder="password" autocomplete="off">
            <p>admin?</p>
            <input type="checkbox" name="is_admin" {{#if this.is_admin}} checked{{/if}}>
            <input type="submit" value="update user"> 
        </form>
        <form action="/admin/deleteuser" method="post" class="delete-form">
            <input type="hidden" name="id" value={{this.id}}>
            <input type="submit" value="delete user">
        </form>
    </div>
    <hr>
    {{/each}}    
</div>
</body>
</html>
