<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open door</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.min.css">
</head>
<body>
<div class="header">
    <a class="header-left" href="/">
        <h1>Headeur</h1>
    </a>
    <div style="float: right; padding-top: 30px;">
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>
</div>
<hr>
<div class="main">
    <h1>Thomas godverdomme</h1>
    <p>Wat doe je nou, ik heb nog zo gezegd dat je niet {{message}}<p>
</div>
</body>
</html>
